@use "sass:map";
@import "../../../styles/sizes";
@import "../../../styles/fonts-weights";

.candorCheckContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.candorCheckPicture {
  border-radius: $picture-border-radius;
}

.candorCheckTitle {
  text-align: center;
  margin-top: $default-gap*2;
}

.candorCheckText {
  text-align: center;
  margin-top: $default-gap;
}

.candorCheckAgreeButton {
  margin-top: $default-gap*2;
  margin-bottom: $default-bottom-gap;
}
