@use "sass:map";
@import "../../../styles/sizes";
@import "../../../styles/fonts-weights";

.currentRelationshipContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.currentRelationshipPicture {
  border-radius: $picture-border-radius;
}

.currentRelationshipQuestion {
  text-align: center;
  margin-top: $default-gap*2;
  margin-bottom:  $default-gap;
  font-weight: map.get($font-weights,"text");
}

.currentRelationshipAnswerButton {
  margin-top: $default-gap;

  &:last-child {
    margin-bottom: $default-bottom-gap;
  }
}
