$main-red-color: #cf0a0a;
$main-black-color: #171717;
$main-white-color: #f4f4f4;

$transparent-red-color: rgba(211,34,34,0.1);

$light-theme: #ffffff;
$light-theme-text: #171717;

$dark-theme: #1f1e1e;
$dark-theme-background: #171717;
$dark-theme-text: #fff;
