$smartphone-layout-margin: 65px;

$paragraph-spacing: 15px;

$default-border-radius: 30px;

$font-sizes: (
        "title": 32px,
        "text": 16px,
        "footer":12px,
);

$app-container-side-padding: 30px;

$header-icons-size: 24px;
