@use "sass:map";
@import "../../../styles/sizes";

.ageCheckContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 20px;
  justify-content: center;
}

.ageCheckInfo{
  margin: $default-gap 0 0;
}

.ageGapContainer{
  width: 100%;
}

.ageGapButton{
  margin: $default-gap 0 0;
}

.ageCheckFooter{
  font-size: map.get($font-sizes, "footer");
  text-align: center;
  margin-bottom: $default-bottom-gap;
}

