@import "./src/styles/colors";

.bar {
  height: 10px;
  border-radius: 100px;
  margin-right: 1%;
  transition: background-color 1s ease-in-out;

  &:last-child {
    margin-right: 0;
  }
}

.filled{
  background-color: $main-red-color;
}

.unfilled {
  background-color: rgba(211,34,34,0.1);
}
